In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix

from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

from sklearn.preprocessing import LabelEncoder

In [21]:
df = pd.read_excel('gameInfosTreated.xlsx')

df

,title,release,plataform,metascore,critic_reviews,user_score,numbers_ratings,developer,genre(s),players_number
0,THE LEGEND OF ZELDA: OCARINA OF TIME,11/23/1998,Nintendo 64,99,22,9.1,7511,Nintendo,"Action Adventure, Fantasy",1 Player
1,TONY HAWK'S PRO SKATER 2,09/20/2000,PlayStation,98,19,7.4,869,Neversoft Entertainment,"Sports, Alternative, Skateboarding",1-2
2,GRAND THEFT AUTO IV,04/29/2008,PlayStation 3,98,64,7.8,4811,Rockstar North,"Action Adventure, Modern, Modern, Open-World",1 Player
3,SOULCALIBUR,09/08/1999,Dreamcast,98,24,8.4,404,Namco,"Action, Fighting, 3D",1-2
4,GRAND THEFT AUTO IV,04/29/2008,Xbox 360,98,86,8.0,3693,Rockstar North,"Action Adventure, Modern, Modern, Open-World",1 Player
...,...,...,...,...,...,...,...,...,...,...
18591,VROOM IN THE NIGHT SKY,04/05/2017,Switch,17,15,3.3,109,Poisoft,"Sports, Individual, Biking",No Online Multiplayer
18592,LEISURE SUIT LARRY: BOX OFFICE BUST,05/05/2009,PlayStation 3,17,11,1.9,47,Team17,"Action Adventure, Adventure, Third-Person, Ope...",No Online Multiplayer
18593,YARIS,10/10/2007,Xbox 360,17,7,4.4,136,Backbone Entertainment,"Driving, Racing, Arcade, Arcade, Automobile",2 Online
18594,RIDE TO HELL: RETRIBUTION,06/24/2013,PC,16,9,1.4,609,Eutechnyx,"Driving, Modern, Racing, Motorcycle, Motocross...",1-2 Player(s)
18595,FAMILY PARTY: 30 GREAT GAMES OBSTACLE ARCADE,12/04/2012,Wii U,11,8,2.7,195,"Art Co., Ltd.","Miscellaneous, Party, Party, Party / Minigame",No Online Multiplayer

In [11]:
# Get off columns

df = df.drop(['release', 'critic_reviews', 'release', 'players_number', 'title', 'plataform', 'developer', 'user_score', 'numbers_ratings'], axis=1)

display(df)

       metascore                                           genre(s)
0             99                          Action Adventure, Fantasy
1             98                 Sports, Alternative, Skateboarding
2             98       Action Adventure, Modern, Modern, Open-World
3             98                               Action, Fighting, 3D
4             98       Action Adventure, Modern, Modern, Open-World
...          ...                                                ...
18591         17                         Sports, Individual, Biking
18592         17  Action Adventure, Adventure, Third-Person, Ope...
18593         17        Driving, Racing, Arcade, Arcade, Automobile
18594         16  Driving, Modern, Racing, Motorcycle, Motocross...
18595         11      Miscellaneous, Party, Party, Party / Minigame

[18596 rows x 2 columns]

In [10]:
le_title = LabelEncoder()

# Aplicando o LabelEncoding na coluna "title"
df['title'] = le_title.fit_transform(df['title'])

In [12]:
le_genre = LabelEncoder()

# Aplicando o LabelEncoding na coluna "title"
df['genre(s)'] = le_genre.fit_transform(df['genre(s)'])

In [23]:
le_plat = LabelEncoder()

# Aplicando o LabelEncoding na coluna "plataform"
df['plataform'] = le_plat.fit_transform(df['plataform'])

In [18]:
le_developer = LabelEncoder()

# Aplicando o LabelEncoding na coluna "genre"
df['developer'] = le_developer.fit_transform(df['developer'])

In [29]:
df.drop(['title', 'release'], axis=1)

,plataform,metascore,critic_reviews,user_score,numbers_ratings,developer,genre(s),players_number
0,5,99,22,9.1,7511,Nintendo,"Action Adventure, Fantasy",1 Player
1,8,98,19,7.4,869,Neversoft Entertainment,"Sports, Alternative, Skateboarding",1-2
2,10,98,64,7.8,4811,Rockstar North,"Action Adventure, Modern, Modern, Open-World",1 Player
3,2,98,24,8.4,404,Namco,"Action, Fighting, 3D",1-2
4,19,98,86,8.0,3693,Rockstar North,"Action Adventure, Modern, Modern, Open-World",1 Player
...,...,...,...,...,...,...,...,...
18591,15,17,15,3.3,109,Poisoft,"Sports, Individual, Biking",No Online Multiplayer
18592,10,17,11,1.9,47,Team17,"Action Adventure, Adventure, Third-Person, Ope...",No Online Multiplayer
18593,19,17,7,4.4,136,Backbone Entertainment,"Driving, Racing, Arcade, Arcade, Automobile",2 Online
18594,6,16,9,1.4,609,Eutechnyx,"Driving, Modern, Racing, Motorcycle, Motocross...",1-2 Player(s)
18595,17,11,8,2.7,195,"Art Co., Ltd.","Miscellaneous, Party, Party, Party / Minigame",No Online Multiplayer

In [25]:
df

,title,release,plataform,metascore,critic_reviews,user_score,numbers_ratings,developer,genre(s),players_number
0,THE LEGEND OF ZELDA: OCARINA OF TIME,11/23/1998,5,99,22,9.1,7511,Nintendo,"Action Adventure, Fantasy",1 Player
1,TONY HAWK'S PRO SKATER 2,09/20/2000,8,98,19,7.4,869,Neversoft Entertainment,"Sports, Alternative, Skateboarding",1-2
2,GRAND THEFT AUTO IV,04/29/2008,10,98,64,7.8,4811,Rockstar North,"Action Adventure, Modern, Modern, Open-World",1 Player
3,SOULCALIBUR,09/08/1999,2,98,24,8.4,404,Namco,"Action, Fighting, 3D",1-2
4,GRAND THEFT AUTO IV,04/29/2008,19,98,86,8.0,3693,Rockstar North,"Action Adventure, Modern, Modern, Open-World",1 Player
...,...,...,...,...,...,...,...,...,...,...
18591,VROOM IN THE NIGHT SKY,04/05/2017,15,17,15,3.3,109,Poisoft,"Sports, Individual, Biking",No Online Multiplayer
18592,LEISURE SUIT LARRY: BOX OFFICE BUST,05/05/2009,10,17,11,1.9,47,Team17,"Action Adventure, Adventure, Third-Person, Ope...",No Online Multiplayer
18593,YARIS,10/10/2007,19,17,7,4.4,136,Backbone Entertainment,"Driving, Racing, Arcade, Arcade, Automobile",2 Online
18594,RIDE TO HELL: RETRIBUTION,06/24/2013,6,16,9,1.4,609,Eutechnyx,"Driving, Modern, Racing, Motorcycle, Motocross...",1-2 Player(s)
18595,FAMILY PARTY: 30 GREAT GAMES OBSTACLE ARCADE,12/04/2012,17,11,8,2.7,195,"Art Co., Ltd.","Miscellaneous, Party, Party, Party / Minigame",No Online Multiplayer

In [8]:
df['title'] = le_title.inverse_transform(df['title'])
df['plataform'] = le_plat.inverse_transform(df['plataform'])
df['developer'] = le_developer.inverse_transform(df['developer'])

In [5]:
df

       metascore  critic_reviews
0             99              22
1             98              19
2             98              64
3             98              24
4             98              86
...          ...             ...
18591         17              15
18592         17              11
18593         17               7
18594         16               9
18595         11               8

[18596 rows x 2 columns]

In [24]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('metascore', axis=1), df['metascore'], test_size=0.2)

In [15]:
log = LogisticRegression()

log.fit(X_train, y_train)
log_pred = log.predict(X_test)

c:\Users\Admin\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [24]:
dtc = DecisionTreeClassifier()

dtc.fit(X_train, y_train)

y_pred = dtc.predict(X_test)

array([69, 66, 79, ..., 59, 69, 69], dtype=int64)

In [23]:
from sklearn.neural_network import MLPClassifier

neuN = MLPClassifier(random_state=1, max_iter=300)

clf = neuN.fit(X_train, y_train)

clf_pred = clf.predict(X_test)

MLPClassifier(max_iter=300, random_state=1)

In [20]:
acc_clf = accuracy_score(y_test, y_pred)
acc_lr = accuracy_score(y_test, log_pred)
acc_nn = accuracy_score(y_test, clf_pred)


print('Acurácia:', acc_clf)
print('Acurácia:', acc_lr)
print('Acurácia:', acc_nn)

Acurácia: 0.04122602616956444
Acurácia: 0.038358128696899085
Acurácia: 0.02903746191073669